<!DOCTYPE html>
<html>
  <head>
    <title>Aristo lms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "aristo_lms/application", media: "all", 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
