<p id="notice"><%= notice %></p>

<!-- start of name and description -->
<div class="row">

  <div class="col-sm-6 col-md-6">
    <h1 class="training-title"><%= @training.name %></h1>
  </div>

  <div class="col-sm-6 col-md-6">
    <% if @is_arisro_admin %>
      <%= link_to 'Edit', edit_training_path(@training), class: "btn btn-outline-primary" %> |
    <% end %>
    <%# Back based on different situations %>
    <% if @training.parent && @training.ancestors.length == 2 %>
      <%= link_to 'Back', training_path(@training.ancestors.last), class: "btn btn-outline-primary" %>
    <% elsif @training.parent %>
      <%= link_to 'Back', training_path(@training.parent), class: "btn btn-outline-primary" %>
    <% elsif @current_user && !@is_arisro_admin %>
      <%= link_to 'Back', subscriptions_path, class: "btn btn-outline-primary" %>
    <% else %>
      <%= link_to 'Back', trainings_path, class: "btn btn-outline-primary" %>
    <% end %>
  </div>





</div>



<% if @training.category == "training" %>


  <%= link_to 'Create Content', new_training_path(parent_id: @training, category: "content"), class: "btn btn-outline-primary" %> |
  <%= link_to 'Create Module', new_training_path(parent_id: @training, category: "module"), class: "btn btn-outline-primary" %> |
  <%= link_to 'Create Switch', new_training_path(parent_id: @training, category: "switch"), class: "btn btn-outline-primary" %> |
  <%= link_to 'Create Question', new_training_path(parent_id: @training, category: "question"), class: "btn btn-outline-primary" %>
  <br/><br/>
  <%= @training.content %>
  <br/><br/>

  <% @training.children.each do |node| %>

  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h4 class="training-title"><%= node.name %></h4>
    </div>
    <div class="col-sm-6 col-md-6">
      <%= link_to "Show", training_path(node), class: "btn btn-outline-primary" %> |
      <%= link_to "Edit", edit_training_path(node), class: "btn btn-outline-primary" %> |
      <%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-auto" %>
    </div>
  </div
  <br/><br/>
    <% if node.category == "content" %>

      <%= node.description %>

      <br/><br/>
    <% elsif node.category == "module" || node.category == "switch" %>
      <%= node.description %><br/><br/>
      <% if node.category == "module" %>
        <%= link_to 'Create Content', new_training_path(parent_id: node, category: "content"), class: "btn btn-outline-primary" %> |
        <%= link_to 'Create Switch', new_training_path(parent_id: node, category: "switch"), class: "btn btn-outline-primary" %> |
        <%= link_to 'Create Question', new_training_path(parent_id: node, category: "question"), class: "btn btn-outline-primary" %> |
      <% end %>
      <%= link_to 'Create Module', new_training_path(parent_id: node, category: "module"), class: "btn btn-outline-primary" %>
      <br/><br/>
      <div class="row">
        <% node.children.each do |child| %>

        <div class="col-sm-3 col-md-3" id="<%= dom_id(child) %>">
          <div class="card h-100 border border-primary">
            <div class="card-body">
              <h5 class="card-title training-title"><%= child.name %></h5>
              <p class="card-text"><%= child.description %></p>
            </div>
            <div class="card-body d-flex flex-column">
              <%= link_to 'Show ' + child.category, child, class: "btn btn-outline-primary mt-auto"%>
              <%= link_to 'Edit', edit_training_path(child), class: "btn btn-outline-primary mt-auto" %>
              <%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-auto" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <br/><br/>
    <% end %>


  <% end %>


<% end %>

<br/>


<%# end of name and description %>

<%# what to do when training type is conent %>
<%# content implies just some stuff in active text %>
<% if @training.category == "content" %>
  <%= @training.content %>
<% end %>



<% if @training.category == "switch" %>
  <%= @training.content %>

  <% @training.children.each do |switch_module| %>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <h4 class="training-title"><%= switch_module.name %></h4>
      </div>
      <div class="col-sm-6 col-md-6">
        <%= link_to "Show", training_path(switch_module), class: "btn btn-outline-primary" %> |
        <%= link_to "Edit", edit_training_path(switch_module), class: "btn btn-outline-primary" %> |
        <%= link_to 'Destroy', switch_module, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-auto" %>
      </div>
    <h6><%= switch_module.description %></h6>

  <% end %>

<% end %>




<%# if it is a submodule or switch, basically a nest of another module inside a 1st level module %>
<% if @training.category == "module"%>
  <%= link_to 'Create Content', new_training_path(parent_id: @training, category: "content"), class: "btn btn-outline-primary" %> |
  <%= link_to 'Create Module', new_training_path(parent_id: @training, category: "module"), class: "btn btn-outline-primary" %> |
  <%= link_to 'Create Switch', new_training_path(parent_id: @training, category: "switch"), class: "btn btn-outline-primary" %> |
  <%= link_to 'Create Question', new_training_path(parent_id: @training, category: "question"), class: "btn btn-outline-primary" %>
  <div class="module-list">

    <%# lists all first level modules %>
    <% @modules.order(:position).each do |mod| %>

      <div class="row">
        <div class="col-sm-6 col-md-6">
          <h3 class="training-title"><%= mod.name %></h3>
        </div>
        <div class="col-sm-6 col-md-6">
          <% if @is_arisro_admin %>
            <%= link_to 'Edit', edit_training_path(mod), class: "btn btn-outline-primary" %> |
            <%= link_to 'Destroy', mod, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-auto" %>
          <% end %>
        </div>
      </div>

      <p><%= mod.description %></p>
      <% if mod.category == "" || mod.category == "submodule" %>
        <% if @is_arisro_admin %>
          <%= link_to "Create new submodule", new_training_path(parent_id: mod, category: "submodule"), class: "btn btn-outline-primary" %> |
          <%= link_to "Create Content", new_training_path(parent_id: mod, category: "content"), class: "btn btn-outline-primary" %> |
          <%= link_to "Create Question", new_training_path(parent_id: mod, category: "question"), class: "btn btn-outline-primary" %>
        <% end %>
      <% end %>

      <%# check if the 1st level module has a children %>
      <% if mod.children != [] %>
        <br/><br/>

        <div class="row">
          <%# if yes then render the immediate children as grids %>
          <% mod.children.order(:position).each do |children| %>
            <div class="col-sm-3 col-md-3" id="<%= dom_id(children) %>">
              <div class="card h-100 border border-primary">
                <div class="card-body">
                  <h5 class="card-title training-title"><%= children.name %></h5>
                  <p class="card-text"><%= children.description %></p>
                </div>
                <div class="card-body d-flex flex-column">
                  <%= link_to 'Show ' + children.category, children, class: "btn btn-outline-primary mt-auto"%>
                  <%= link_to 'Edit', edit_training_path(children), class: "btn btn-outline-primary mt-auto" %>
                  <%= link_to 'Destroy', children, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-auto" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <br/><br/>
    <% end %>
  </div>
<% end %>
<%# end of submodule, switch %>


<%# start for a question type node %>
<% if @training.category == "question" %>
  <%= link_to "Add Option", new_training_path(parent_id: @training.id, category: "option"), class: "btn btn-outline-primary"  %>
  <br/><br/>
  <% @training.children.each do |option| %>
    <h3><%= option.name %></h3>
  <% end %>
<% end %>
<%# end for a question type node %>



<br/>
<% if @training.category == "question_answer_session" %>
  <h3 class="training-title">Listing Questions</h3><br/>
  <% @training.children.each do |mod| %>
    <div class="row">
      <div class="col-md-6">
        <h3><%= mod.name %></h3>
      </div>
      <div class="col-md-6">
        <%= link_to "Add Option", new_training_path(parent_id: mod.id, category: "option"), class: "btn btn-outline-primary"  %>
        <%= link_to 'Destroy', mod, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-auto" %>
      </div>
    </div>
    <p><%= mod.description %></p>
    <% mod.children.order(:position).each do |option| %>
      <h5><%= option.name %></h5>
    <% end %>
  <% end %>
<% end %>
