
<h1 class="training-title">Your Subscriptions</h1>
<br/>

<% if @subscriptions.length == 0 %>
  <center>
    <h1>You have made no subscriptions</h1>
    <h5><%= link_to "Click here", new_subscription_path %>, to explore tracks</h5>
  </center>
<% else %>
<div class="row">
  <% @subscriptions.each do |subscription| %>
    <div class="col-sm-3 col-md-3" id="<%= dom_id(subscription) %>">
      <div class="card h-100 border border-primary">
        <div class="card-body">
          <h3 class="card-title training-title"><%= subscription.training.name %></h3>
          <p class="card-text"><%= subscription.training.description %></p>
        </div>
        <div class="card-body d-flex flex-column">
          <% if subscription.attempts.where(user_id: current_user.id, subscription_id: subscription.id).length != 0 %>
            <% if subscription.attempts.where(user_id: current_user.id, subscription_id: subscription.id).order(:id).last.completed %>
              <%= link_to 'Retake', subscription_path(subscription), class: "btn btn-outline-primary mt-auto"%>
            <% else %>
              <%= link_to 'Resume', subscription_path(subscription, active_node_id: subscription.attempts.last.current_node_id), class: "btn btn-outline-primary mt-auto"%>
            <% end %>
          <% else %>
            <%= link_to 'Start', subscription_path(subscription), class: "btn btn-outline-primary mt-auto"%>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
